

body{
    
    background-image: url(adam-kool-ndN00KmbJ1c-unsplash.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
} 
 
.header{
    display: flex;
    height: 5%;
}


/* navigation bar */

.navbar{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 2%;
    padding: 2%;
    height: 100px;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
    font-size: 2vw;
}

.nav-home{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 2vw;
}

.nav-about{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 2vw;
}

.nav-projects{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 2vw;
}

.nav-contact{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 2vw;
}

.name{
    /* margin-left: 3%; */
    color:aliceblue;
    margin-top: 10%;
    font-size: 4.5vw;
    text-align: center;
    font-style: bold;
}


/* about me section */

.aboutmetitle{
    color:aliceblue;
    /* margin-left: 3%; */
    font-size: 3.5vw;
    text-decoration: underline;
    text-align: center;
    font-style: bold;
}

.aboutmedescription{
    color:aliceblue;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 4%;
    margin-right: 4%;
    font-size: 2.5vw;
    font-style: bold; 
    text-align:center;
} 

.responsive{
    display: block;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-top: 3%;
    margin-right: auto;
} 

/* projects section */

.projectstitle{
    color:aliceblue;
    /* margin-left: 3%; */
    font-size: 3.5vw;
    text-decoration: underline;
    text-align: center;
    font-style: bold;
}
.projectsdescription{
    color:aliceblue;
    /* margin-left: 3%; */
    font-size: 2.5vw;
    text-align: center;
}

.project1{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 2%;
    font-size: 2vw;
    color:aliceblue;
}

.project2{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 2%;
    font-size: 2vw;
    color:aliceblue;
}

/* contact section */

.contactmetitle{
    color:aliceblue;
    /* margin-left: 3%; */
    font-size: 3.5vw;
    text-decoration: underline;
    text-align: center;
    font-style: bold;
}
.contactmedescription{
    color:aliceblue;
    /* margin-left: 3%; */
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 2.5vw;
    text-align: center;
}

.emailme{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 2%;
    font-size: 2vw;
    color:aliceblue;
    text-align: center;
}